* {
  padding: 0;
  margin: 0; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;

}

h1{
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}

.header {
  display: flex;
  justify-content: center;
}

.addItem {
  flex: 1;
  max-width: 800px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  height: 60px;
  border-radius: 28px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.input {
  border: none;
  width: 90%;
  height: 100%;
  font-size: 18px;
  margin-left: 20px;
}

.icon-header {
  height: 40px;
  background-color: transparent;
  margin-right: 8px;
}

input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
} 

.header-todo {
  margin-top: 30px;
  display: flex;
}

.title,
.dueDate,
.complete {
  margin: 10px;
  font-weight: bold;
  color: rgb(216, 216, 216);
}

.todo-column {
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 60px;
  margin: 20px;
  display: block;

}
.deleteAll{
  font-size: 16px;
  font-weight: bold;
  color: #555;
  border-radius: 12px;
  padding: 4px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

p, del {
  font-size: 18px;
  color: rgb(148, 148, 148);
  width: 585px;
  margin: 20px;

}

/* .checkbox {
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  aspect-ratio: 1/1; 
} */




.date {
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: #999;
  font-size: 14px;

}



#todo{

}

.date::-webkit-inner-spin-button {
  display: block; /* Show the inner spin button by default */
}

.date::placeholder {
  visibility: visible; /* Make the placeholder visible by default */
}

.date::before {
  content: none; /* Hide the 'Due Date' text by default */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .date::-webkit-inner-spin-button {
    display: none; /* Hide the inner spin button on mobile view */
  }
  
  .date::placeholder {
    visibility: hidden; /* Hide the placeholder on mobile view */

  }
  


}

.rounded-checkbox {
  /* Apply styles for a rounded checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
}

.rounded-checkbox:checked {
  background-color: green; /* Change background color when checkbox is checked */
  border-color: green; /* Change border color when checkbox is checked */
}

span{
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
span:hover, .deleteAll:hover{
  background: #d7d7d7;
}
