* {
  padding: 0;
  margin: 0; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}

.header {
  display: flex;
  justify-content: center;
}

.addItem {
  flex: 1;
  max-width: 800px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  height: 60px;
  border-radius: 28px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.input {
  border: none;
  width: 90%;
  height: 100%;
  font-size: 18px;
}

.icon-header {
  height: 40px;
  background-color: transparent;
  margin-right: 8px;
}

input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
} 

.header-todo {
  margin: 30px;
  display: flex;
}

.title,
.dueDate,
.complete {
  margin: 10px;
  font-weight: bold;
  color: rgb(188, 186, 186);
}

.todo-column {
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.todo-item {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 20px;
}

p, del {
  font-size: 18px;
  color: rgb(148, 148, 148);
  width: 585px;
  margin: 20px;

}


.checkbox {
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;


  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
}


.note {
  flex: 1;
  margin: 0;
}

.date {

  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: #999;
}

.date::-webkit-inner-spin-button {
  display: none;
}

.date::placeholder {
  visibility: hidden;
}

.date::before {
  content: 'Due Date';
  color: #999;
}


#todo{


}


